body {
    overflow: hidden;
    touch-action: none;
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    transform: rotateZ(0deg);
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}