body {
    overflow: hidden;
    touch-action: manipulation;
    transform: translateZ(0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    backface-visibility: hidden;
    perspective: 1000;
    -webkit-transform: rotateZ(0deg);
}